<%= form_tag workouts_path, :method => 'get', class:'form-horizontal' do %>
  <%= text_field_tag :term, params[:term],class: 'form-control' %>
  <%= submit_tag 'search', class:"btn btn-primary" %>
<% end %>
<% @workouts.each do |workout| %>
  <div class="video-title">
    <div class="embed-container">
      <%= embed(workout.youtube_url) %>
    </div>
    <div class="title-for-video">
      <p class="workout-title"><%= workout.title %></p>
      <% if current_user.admin? %>
        <p>
        <%= link_to 'Edit',edit_workout_path(workout.id),class:'btn btn-default' %>
        <%= link_to 'Delete',destroy_workout_path(workout.id),:method => :delete,class:'btn btn-default' %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
