<% if user_signed_in? %>
  <div class="home-main">
    <h1>Welcome <%= current_user.email %> </h1>
    <div class="calorie-home">
      <p>Calories Taken</p>
      <%= @taken_calories = current_user.food_records.where(intake_date: Date.today).map(&:intake_calories).sum %>
    </div>
    <div class="calorie-home">
      <% if current_user.body_metric.nil? %>
      <% else %>
        <p>Calories Required</p>
        <%= @calc_calories = current_user.body_metric.calculated_calories %>
    </div>
    <p>You still need to take <%= (@calc_calories-@taken_calories).to_i %> calories to maintain your weight.</p>
    <p>Progress</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax=<%= @calc_calories %> style="width: <%= @calc_width=(@taken_calories.to_f/@calc_calories.to_f)*100 %>%;">
        <%= @calc_width.to_i %>% completed
      </div>
    </div>
  <% end %>
  <%= link_to '<i class = "glyphicon glyphicon-plus"> Add Food Record</i>'.html_safe, new_food_record_path %>
  <br>
  <% if @food_records.count != 0 %>
    <p>Today's Food Record</p>
    <%= render :template => 'food_records/index' %>
  <% else %>
    <p>You have 0 food records today</p>
  <% end %>
  </div>
<% else %>
  <div class="signup home-signup">
    <h1>Count your calories</h1>
    <button type="button" class="btn sign_up btn-lg"><%= link_to 'Sign up now',new_user_registration_path, class:"sign_up" %></button>
  </div>
<% end %>
