<%= render :template => 'food_records/check_log'%>
<% if @food_records.present? %>
  <p>Food Record on <%= params[:food_log][:date] %></p>
  <table class="table table-hover">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Intake_calories</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @food_records.each do |food_record| %>
      <tr>
        <td><%= food_record.item%></td>
        <td><%= food_record.quantity %></td>
        <td><%= food_record.intake_calories%></td>
        <td><%= link_to 'Edit',edit_food_record_path(food_record.id) %></td>
        <td><%= link_to 'Delete',destroy_food_record_path(food_record.id), :method => :delete %></td>
      </tr>
    <% end %>
  <% else %>
    <p> You dont have any any food records on <%= params[:food_log][:date] %> </p>
  <% end %>
