<%= form_for @food_item, url: update_food_item_path(@food_item), class: 'form-horizontal' do |f| %>
  <%= render 'shared/error_messages',object: f.object %>
  <%= f.label 'Item' %>
  <%= f.text_field :item, class:'form-control' %>
  <%= f.label 'Quantity' %>
  <%= f.number_field :quantity,class:'form-control' %>
  <%= f.label 'Metrics' %>
  <%= f.text_field :metrics, class:'form-control' %>
  <%= f.label 'Calories' %>
  <%= f.number_field :calories, class:'form-control' %>
  <div class='form-group'>
    <%= f.label 'Preferred Time' %><br>
    <%= f.radio_button :preferred_time,'morning' %>Morning<br>
    <%= f.radio_button :preferred_time,'afternoon' %>Afternoon<br>
    <%= f.radio_button :preferred_time,'evening' %>Evening<br>
    <%= f.radio_button :preferred_time,'night' %>Night<br>
  </div>
  <%= f.submit 'Edit food item', class:'btn btn-primary' %>
<% end %>


