<nav class="left-menu">
  <ul>
    <%= link_to root_path do %><li>Home</li><% end %>
    <%= link_to  new_body_metric_path do %><li>Body Metric</li><% end %>
    <%= link_to food_items_path do %><li>Food List</li><% end %>
    <%= link_to new_food_record_path do %><li>Food Record</li><% end %>
    <% if current_user.admin? %>
      <%= link_to new_workout_path do %><li>WorkoutVideos</li><% end %>
    <% else %>
      <%= link_to  workouts_path do %><li>Workout Videos</li><% end %>
    <% end %>
    <%= link_to check_log_path do %><li>Food Record Log</li><% end %>
    <%= link_to  graph_path do %><li>Weekly Report</li><% end %>
  </ul>
</nav>

