<nav class="left-menu">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'BodyMetric', new_body_metric_path %></li>
    <li><%= link_to 'FoodList',food_items_path %></li>
    <li><%= link_to 'FoodRecord', new_food_record_path %></li>
    <li><%= link_to 'WorkoutVideos', new_workout_path %></li>
    <li><%= link_to 'Food Record Log', check_log_path %></li>
  </ul>
</nav>

