<!DOCTYPE html>
<html>
  <head>
    <title>EatHealthyStayHealthy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'highcharts', 'rails','jquery-1.11.3.min', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="center">
      <% if user_signed_in? %>
        <%= render 'layouts/left' %>
      <% end %>
      <%= yield %>
      </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
